body{
    margin:0;
    padding: 0;
    font-family:Arial;
    background-color:	#F9C1CF;
}

.block1{
display: block;
opacity:1;
margin:0;
padding:0;
}
.area1{
    position:relative;
    left: 10vw;
    top:10vw;
    margin:0;
    padding:0;
    width: 80vw;
    height: 80vw;
    background-color:
    #ffe4eb;
}
.area1 img{
    position:absolute;
    top:0;
    width:80vw;
    height:auto;
    z-index:0;
}
.area1 .p1{
    position:absolute;
    top:30vw;
    left:15vw;
    padding:0;
    margin:0;
    width: 80vw;
    height:auto;
    text-align:center;
    opacity: 1;
    z-index:100;
}
.block2{
    position:relative;
    top:5vh;
    width:100vw;
 display:none;
 opacity:0;   
}
.block2 video{
    width:100vw;
    height:auto;
}
.block2 img{
    width: 100vw;
    height:auto;
}